
.parent{
    filter: blur(5px);
}
.container{
    font-size: 55px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 400px;
}
.text{
    height: 300px;
    width: 300px;
    display: inline-block;
    /* margin: 100px; */
    text-align: center;
   border-radius: 10px;
   position: absolute;
   left: 400px;
   top: 200px;
   /* margin-left: 200px; */
    border: 2px solid red;
    box-shadow: 10px 10px 15px gray
}
span{
    font-size: 30px;
}
i{
   
    color: red;
}
span{
    color: turquoise;
}
p{
    text-align: center;
}
.z{
    text-align: center;
    font-size: 15px;
    color: red;
    text-decoration: line-through;
}
.x{
    position: absolute;
    right: 10px;
    bottom: 5px;
}
/* hr{
    color: bal;
    position: absolute;
    right: 0px;
    top: 25px ;
} */
.pop{
    color: red;
    background-color: white;
    width: 250px;
    height: 150px;
    border: 2px solid red;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    border-radius: 6px;
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: +1;
    
}
.button{
    background-color: green;
    color: white;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    top:20px ;
    border: 20px;
}